# FUNCTION INSIDE A FUNCTION

In [1]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 100

In [2]:
wage(8),with_bonus(8)

(200, 300)

In [3]:
def nik(y):
    return y+5          ###### NOTE NIK KE JAGAH PE PLUS_FIVE LIKHO #######
def niki(y):
    return nik(y) *3

In [4]:
nik(3),niki(5)   #### IDHAR ARGUMENT KA VALUE ALAG THA LAST WALE SE #####

(8, 30)

# FUNCTION WITH CONDITON

In [5]:
def add_10(r):
    if r >= 100:
        return r+10
    else:
        return "SAVE MONEY"

In [6]:
add_10(100)

110

In [7]:
add_10(99)

'SAVE MONEY'

In [31]:
def compare_the_two(x,y):
    if x > y:
        return "Greater"
    elif y > x:
        return "Less"
    else:
        return "Equal"

In [32]:
compare_the_two(1,2)

'Less'

In [33]:
compare_the_two(2,1)

'Greater'

In [34]:
compare_the_two(2,2)

'Equal'

# FUNCTION WITH MORE PARAMETER

In [35]:
def equation(a,b,c):
    result=a+b+c
    print("Number is",a)
    print("Number is",b)
    print("Number is",c)
    return result

In [36]:
equation(1,2,3)

Number is 1
Number is 2
Number is 3

6